<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student/find_id"  method="post">

        <div class="container " style = "text-align:center ; " ><h3><strong>Create New Student</strong> </h3></div>
      
            <div class="row " style = "width:99.7vw; display: flex; justify-content: center;" >
         <!-- <div class="colo"> -->
      
              <div class="col-lg-6 bg-light pt-4" >
                <form action="#nowhere">
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="text" class="form-label">ID</label>
                      <input
                        id="email"
                        class="form-control"
                        type="text"
                        name="sno"
                        placeholder="Search by ID"
                      />
                    </div>
                    <button>submit</button>
    </div>
    </form>  
</body>
</html>