<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <img src="https://online.umt.edu.pk/assets/img/backgrounds/1.jpg" style = "width: 100%; height: 100vh; " alt="">
<div class="" style="text-align: center; margin-left: 1.4%; ">
    <div class = "boxportal">
    <img src="https://online.umt.edu.pk/img/UMT_Logo.png" alt="" style="width:98px; height:100px; margin:20px 0px;" >
    <p class = "pfont">Participant Sign In</p>
<form action="/user_login" method="post">
<input type="text" placeholder="UMT User ID / Email" name="sno" class = "inp">
<input type="password" placeholder="Password" name="password" class = "inp">
<!-- <a href="create.html" class= "crlink" >Create new account..</a> -->
<button class="button1">SIGN IN</button>
</form>
</div>
</div>
</body>
</html>